[submodule "libraries/wpl"]
	path = libraries/wpl
	url = ../wpl.git
	branch = master
[submodule "libraries/agge"]
	path = libraries/agge
	url = ../agge.git
	branch = master
[submodule "libraries/utee"]
	path = libraries/utee
	url = ../utee.git
	branch = master
[submodule "libraries/strmd"]
	path = libraries/strmd
	url = ../strmd.git
	branch = origin/master
[submodule "libraries/lend"]
	path = libraries/lend
	url = ../lend.git
	branch = origin/master
[submodule "libraries/polyq"]
	path = libraries/polyq
	url = ../polyq.git
	branch = master
