[submodule "libraries/wpl"]
	path = libraries/wpl
	url = https://github.com/tyoma/wpl.git
	branch = master
[submodule "libraries/easy-addin"]
	path = libraries/easy-addin
	url = https://github.com/tyoma/easy-addin.git
	branch = master

