[submodule "libraries/wpl"]
	path = libraries/wpl
	url = git@github.com:tyoma/wpl.git
	branch = master
[submodule "libraries/agge"]
	path = libraries/agge
	url = git@github.com:tyoma/agge.git
	branch = master
[submodule "libraries/utee"]
	path = libraries/utee
	url = git@github.com:tyoma/utee.git
	branch = master
[submodule "libraries/strmd"]
	path = libraries/strmd
	url = git@github.com:tyoma/strmd.git
