<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="BA2993FF-3AAF-41A5-B3CC-4BF6E3052F66" Name="MicroProfiler" Language="1033" Version="!(bind.FileVersion.micro_profiler.dll_$(var.Platform))" Manufacturer="gevorkyan.org" UpgradeCode="32373928-E978-4133-B1A2-F08B690383AE">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
		<Media Id="1" Cabinet="micro_profiler.cab" EmbedCab="yes"/>
		<Icon Id="icoInstaller" SourceFile="../../micro-profiler/resources/appicon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icoInstaller" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<!-- Properties -->
		<Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
		<Property Id="DEVENV_EXE_7.1">
			<RegistrySearch Id="regsearchDevenv2003" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\7.1\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_8.0">
			<RegistrySearch Id="regsearchDevenv2005" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_9.0">
			<RegistrySearch Id="regsearchDevenv2008" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_10.0">
			<RegistrySearch Id="regsearchDevenv2010" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_11.0">
			<RegistrySearch Id="regsearchDevenv2012" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_12.0">
			<RegistrySearch Id="regsearchDevenv2013" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\12.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_14.0">
			<RegistrySearch Id="regsearchDevenv2014" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>

		<!-- Features -->
		<Feature Id="featTracer" Title="Call Tracer Module" Description="Enables collection and analysis of the calls an application makes.">
			<ComponentRef Id="compAllInOneDLL_$(var.Platform)" />
			<ComponentRef Id="compStubTracerDLL_$(var.Platform)" />
			<ComponentRef Id="compSystemEnvironmentSetup" />
			<ComponentRef Id="compUserEnvironmentSetup" />
		</Feature>
		<Feature Id="featTracerSDK" Title="Call Tracer SDK" Description="Provides simplistic tools to add profiling support to a VisualStudio project.">
			<ComponentRef Id="compTracerSDK" />
		</Feature>
		<Feature Id="featFrontend" Title="Frontend UI" Description="Installs and registers the Frontend UI that displays realtime performance statistics.">
			<ComponentRef Id="compAllInOneDLL_$(var.Platform)" />
			<ComponentRef Id="compFrontendRegistration_$(var.Platform)" />
		</Feature>
		<?if $(var.Platform) = "x64"?>
			<Feature Id="featTracer_x86" Title="Call Tracer Module (x86)">
				<ComponentRef Id="compAllInOneDLL_x86" />
				<ComponentRef Id="compStubTracerDLL_x86" />
				<ComponentRef Id="compSystemEnvironmentSetup" />
				<ComponentRef Id="compUserEnvironmentSetup" />
			</Feature>
			<Feature Id="featFrontend_x86" Title="Frontend UI (x86)">
				<ComponentRef Id="compAllInOneDLL_x86" />
				<ComponentRef Id="compFrontendRegistration_x86" />
			</Feature>
		<?endif?>
		<Feature Id="featVSIntegration" Title="VisualStudio Integration" Description="Integrates 'Enable Profiling' / 'Remove Profiling Support' menus to the Project Context Menu. Intergation is installed for versions 7.1 to 11.0.">
			<ComponentRef Id="compAllInOneDLL_x86" />
			<ComponentRef Id="compVSPackageRegistration_7.1" />
			<ComponentRef Id="compVSPackageRegistration_8.0" />
			<ComponentRef Id="compVSPackageRegistration_9.0" />
			<ComponentRef Id="compVSPackageRegistration_10.0" />
			<ComponentRef Id="compVSPackageRegistration_11.0" />
			<ComponentRef Id="compVSPackageRegistration_12.0" />
			<ComponentRef Id="compVSPackageRegistration_14.0" />
		</Feature>

		
		<InstallUISequence>
			<Custom Action="caSetTARGETDIR" Before="CostFinalize">TARGETDIR=""</Custom>
		</InstallUISequence>

		<InstallExecuteSequence>
			<Custom Action="caSetTARGETDIR" Before="CostFinalize">TARGETDIR=""</Custom>
			<Custom Action="caSetupPackagesVS2003" Before="InstallFinalize">DEVENV_EXE_7.1</Custom>
			<Custom Action="caSetupPackagesVS2005" Before="InstallFinalize">DEVENV_EXE_8.0</Custom>
			<Custom Action="caSetupPackagesVS2008" Before="InstallFinalize">DEVENV_EXE_9.0</Custom>
			<Custom Action="caSetupPackagesVS2010" Before="InstallFinalize">DEVENV_EXE_10.0</Custom>
			<Custom Action="caSetupPackagesVS2012" Before="InstallFinalize">DEVENV_EXE_11.0</Custom>
			<Custom Action="caSetupPackagesVS2013" Before="InstallFinalize">DEVENV_EXE_12.0</Custom>
			<Custom Action="caSetupPackagesVS2014" Before="InstallFinalize">DEVENV_EXE_14.0</Custom>
		</InstallExecuteSequence>

		<!-- CustomActions -->
		<?if $(var.Platform) = "x64" ?>
		<CustomAction Id="caSetTARGETDIR" Property="TARGETDIR" Value="[ProgramFiles64Folder][Manufacturer]\[ProductName]" Execute="firstSequence" />
		<?elseif $(var.Platform) = "x86" ?>
		<CustomAction Id="caSetTARGETDIR" Property="TARGETDIR" Value="[ProgramFilesFolder][Manufacturer]\[ProductName]" Execute="firstSequence" />
		<?endif?>
		<CustomAction Id="caSetupPackagesVS2003" Property="DEVENV_EXE_7.1" ExeCommand="/setup" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2005" Property="DEVENV_EXE_8.0" ExeCommand="/setup" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2008" Property="DEVENV_EXE_9.0" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2010" Property="DEVENV_EXE_10.0" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2012" Property="DEVENV_EXE_11.0" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2013" Property="DEVENV_EXE_12.0" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2014" Property="DEVENV_EXE_14.0" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />

		<Directory Id="TARGETDIR" Name="SourceDir" FileSource="$(var.SOURCEDIR)">
			<?if $(var.Platform) = "x64"?>
				<Directory Id="x86" Name="x86">
					<?include sdk.wxi ?>
				</Directory>
				<?else?>
				<?include sdk.wxi ?>
			<?endif?>
		</Directory>

		<?if $(var.Platform) = "x64"?>
			<?define PATHAPPEND="[TARGETDIR];[x86]"?>
		<?elseif $(var.Platform) = "x86"?>
			<?define PATHAPPEND="[TARGETDIR]"?>
		<?endif?>

		<!-- Components -->
		<Component Id="compSystemEnvironmentSetup" Directory="TARGETDIR" Guid="52DE93FD-B13F-4153-8F5F-58EADD7B2D95">
			<Condition><![CDATA[ALLUSERS]]></Condition>
			<Environment Id="env_path_sys" Name="Path" Value="$(var.PATHAPPEND)" Part="last" Action="set" System="yes"/>
		</Component>

		<Component Id="compUserEnvironmentSetup" Directory="TARGETDIR" Guid="7EA8BA3A-A6F2-4468-8C94-A016AC198A3F">
			<Condition><![CDATA[NOT ALLUSERS]]></Condition>
			<Environment Id="env_path_usr" Name="Path" Value="$(var.PATHAPPEND)" Part="last" Action="set" System="no"/>
		</Component>

		<?define SOURCEDIRX=$(var.SOURCEDIR)?>
		<?define TARGETDIRX="TARGETDIR"?>

		<?if $(var.Platform) = "x64"?>
			<?define ISX64="yes"?>
			<?define PLATFORMSELECTOR="x64"?>
			<?define ALLINONEDLLGUID="47674731-7CDF-4D96-ABE6-BC85BCA68161"?>
			<?define STUBTRACERDLLGUID="7FB94FB2-6CB4-4920-BDC5-22662C58FFCF"?>
			<?define FRONTENDREGISTRYGUID="BC5669B7-BF54-40BB-A169-E20B16357D45"?>
			<?define ADDINOBJECTREGISTRYGUID="57A2000C-A414-4F8F-A3A3-92DA925C6D11"?>

			<?include platform-dependent.wxi?>

			<?undef ISX64 ?>
			<?undef PLATFORMSELECTOR ?>
			<?undef ALLINONEDLLGUID ?>
			<?undef STUBTRACERDLLGUID ?>
			<?undef FRONTENDREGISTRYGUID ?>
			<?undef ADDINOBJECTREGISTRYGUID ?>

			<?undef SOURCEDIRX ?>
			<?define SOURCEDIRX=$(var.SOURCEDIRX86)?>
			<?undef TARGETDIRX ?>
			<?define TARGETDIRX="x86"?>
		<?endif?>

		<?define ISX64="no"?>
		<?define PLATFORMSELECTOR="x86"?>

		<?define ALLINONEDLLGUID="4EC2E786-D232-4EDF-940E-EC18DFFFADBB"?>
		<?define STUBTRACERDLLGUID="416B55ED-11D2-435E-A41D-7FC3B37336BC"?>
		<?define FRONTENDREGISTRYGUID="39183037-8F73-400F-BD82-14014B9E5710"?>
		<?define ADDINOBJECTREGISTRYGUID="12338CB1-814B-4530-A81E-2A9D46436D3D"?>
		
		<?include platform-dependent.wxi?>

		<?define VSVERSION="7.1"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<?define VSVERSION="8.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<?define VSVERSION="9.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<?define VSVERSION="10.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>
		
		<?define VSVERSION="11.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<?define VSVERSION="12.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<?define VSVERSION="14.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<!-- UI -->
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
		<UIRef Id="WixUI_InstallDir" />
		<UI>
			<ProgressText Action="caSetupPackagesVS2003">Configuring Visual Studio .NET 2003... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2005">Configuring Visual Studio 2005... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2008">Configuring Visual Studio 2008... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2010">Configuring Visual Studio 2010... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2012">Configuring Visual Studio 2012... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2013">Configuring Visual Studio 2013... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2014">Configuring Visual Studio 2014... (this may take a few minutes)</ProgressText>
		</UI>
		
	</Product>
</Wix>
