<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="BA2993FF-3AAF-41A5-B3CC-4BF6E3052F66" Name="MicroProfiler" Language="1033" Version="!(bind.FileVersion.fileCollectorDLL_x86)" Manufacturer="gevorkyan.org" UpgradeCode="32373928-E978-4133-B1A2-F08B690383AE">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
		<Media Id="1" Cabinet="micro_profiler.cab" EmbedCab="yes" CompressionLevel="high"/>
		<Icon Id="icoInstaller" SourceFile="../../micro-profiler/resources/appicon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icoInstaller" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<!-- Properties -->
		<Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
		<Property Id="DEVENV_EXE_7.1">
			<RegistrySearch Id="regsearchDevenv2003" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\7.1\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_8.0">
			<RegistrySearch Id="regsearchDevenv2005" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_9.0">
			<RegistrySearch Id="regsearchDevenv2008" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_10.0">
			<RegistrySearch Id="regsearchDevenv2010" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_11.0">
			<RegistrySearch Id="regsearchDevenv2012" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\11.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_12.0">
			<RegistrySearch Id="regsearchDevenv2013" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\12.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>
		<Property Id="DEVENV_EXE_14.0">
			<RegistrySearch Id="regsearchDevenv2014" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentPath" Type="raw" Win64="no" />
		</Property>

		<!-- Features -->
		<Feature Id="featCollector_x86" Title="Call Tracer Module (x86)" Description="Enables collection and analysis of the calls an application makes.">
			<ComponentRef Id="compCollectorDLL_x86" />
			<ComponentRef Id="compSystemEnvironmentSetup" />
			<ComponentRef Id="compUserEnvironmentSetup" />
		</Feature>
		<Feature Id="featCollectorSDK" Title="Call Tracer SDK" Description="Provides simplistic tools to add profiling support to a VisualStudio project.">
			<ComponentRef Id="compCollectorSDK" />
		</Feature>
		<Feature Id="featFrontend" Title="Frontend UI" Description="Installs and registers the Frontend UI that displays realtime performance statistics.">
			<ComponentRef Id="compFrontend" />
		</Feature>
		<?if $(var.Platform) = "x64"?>
			<Feature Id="featCollector_x64" Title="Call Tracer Module (x64)">
				<ComponentRef Id="compCollectorDLL_x64" />
				<ComponentRef Id="compSystemEnvironmentSetup" />
				<ComponentRef Id="compUserEnvironmentSetup" />
			</Feature>
		<?endif?>
		<Feature Id="featVSIntegration" Title="VisualStudio Integration" Description="Integrates 'Enable Profiling' / 'Remove Profiling Support' menus to the Project Context Menu. Intergation is installed for versions 7.1 to 11.0.">
			<ComponentRef Id="compVSPackage" />
			<ComponentRef Id="compVSPackageRegistration_7.1" />
			<ComponentRef Id="compVSPackageRegistration_8.0" />
			<ComponentRef Id="compVSPackageRegistration_9.0" />
			<ComponentRef Id="compVSPackageRegistration_10.0" />
			<ComponentRef Id="compVSPackageRegistration_11.0" />
			<ComponentRef Id="compVSPackageRegistration_12.0" />
			<ComponentRef Id="compVSPackageRegistration_14.0" />
		</Feature>

		
		<InstallUISequence>
			<Custom Action="caSetTARGETDIR" Before="CostFinalize">TARGETDIR=""</Custom>
		</InstallUISequence>

		<InstallExecuteSequence>
			<Custom Action="caSetTARGETDIR" Before="CostFinalize">TARGETDIR=""</Custom>
			<Custom Action="caSetupPackagesVS2003" Before="InstallFinalize">DEVENV_EXE_7.1</Custom>
			<Custom Action="caSetupPackagesVS2005" Before="InstallFinalize">DEVENV_EXE_8.0</Custom>
			<Custom Action="caSetupPackagesVS2008" Before="InstallFinalize">DEVENV_EXE_9.0</Custom>
			<Custom Action="caSetupPackagesVS2010" Before="InstallFinalize">DEVENV_EXE_10.0</Custom>
			<Custom Action="caSetupPackagesVS2012" Before="InstallFinalize">DEVENV_EXE_11.0</Custom>
			<Custom Action="caSetupPackagesVS2013" Before="InstallFinalize">DEVENV_EXE_12.0</Custom>
			<Custom Action="caSetupPackagesVS2014" Before="InstallFinalize">DEVENV_EXE_14.0</Custom>
		</InstallExecuteSequence>

		<!-- CustomActions -->
		<?if $(var.Platform) = "x64" ?>
			<CustomAction Id="caSetTARGETDIR" Property="TARGETDIR" Value="[ProgramFiles64Folder][Manufacturer]\[ProductName]" Execute="firstSequence" />
		<?elseif $(var.Platform) = "x86" ?>
			<CustomAction Id="caSetTARGETDIR" Property="TARGETDIR" Value="[ProgramFilesFolder][Manufacturer]\[ProductName]" Execute="firstSequence" />
		<?endif?>
		<CustomAction Id="caSetupPackagesVS2003" Property="DEVENV_EXE_7.1" ExeCommand="/setup" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2005" Property="DEVENV_EXE_8.0" ExeCommand="/setup" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2008" Property="DEVENV_EXE_9.0" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2010" Property="DEVENV_EXE_10.0" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2012" Property="DEVENV_EXE_11.0" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2013" Property="DEVENV_EXE_12.0" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />
		<CustomAction Id="caSetupPackagesVS2014" Property="DEVENV_EXE_14.0" ExeCommand="/setup /nosetupvstemplates" Impersonate="no" Execute="deferred" />

		<Directory Id="TARGETDIR" Name="SourceDir" FileSource="$(var.SOURCEDIR)"/>

		<Component Id="compCollectorSDK" Guid="FA5EE4E6-A12A-4697-88EB-FC1C5CE98D18" Directory="TARGETDIR" KeyPath="yes">
			<File Id="fileInitializerCPP" Source="$(var.SOURCEDIR)/micro-profiler.initializer.cpp" Vital="yes"/>
			<File Id="fileEntryH" Source="$(var.SOURCEDIR)/entry.h" Vital="yes"/>
			<File Id="fileImpLib_x86" Source="$(var.SOURCEDIRX86)/micro-profiler_Win32.lib" Vital="yes"/>
			<?if $(var.Platform) = "x64"?>
				<File Id="fileImpLib_x64" Source="$(var.SOURCEDIR)/micro-profiler_x64.lib" Vital="yes"/>
			<?endif?>
		</Component>


		<!-- Components -->
		<Component Id="compSystemEnvironmentSetup" Directory="TARGETDIR" Guid="52DE93FD-B13F-4153-8F5F-58EADD7B2D95">
			<Condition><![CDATA[ALLUSERS]]></Condition>
			<Environment Id="env_mpdir_sys" Name="MICROPROFILERDIR" Value="[TARGETDIR]" Part="all" Action="set" System="yes"/>
			<Environment Id="env_path_sys" Name="Path" Value="%MICROPROFILERDIR%" Part="last" Action="set" System="yes"/>
		</Component>

		<Component Id="compUserEnvironmentSetup" Directory="TARGETDIR" Guid="7EA8BA3A-A6F2-4468-8C94-A016AC198A3F">
			<Condition><![CDATA[NOT ALLUSERS]]></Condition>
			<Environment Id="env_mpdir_usr" Name="MICROPROFILERDIR" Value="[TARGETDIR]" Part="all" Action="set" System="no"/>
			<Environment Id="env_path_usr" Name="Path" Value="%MICROPROFILERDIR%" Part="last" Action="set" System="no"/>
		</Component>

		<Component Id="compFrontend" Directory="TARGETDIR" Guid="BC5669B7-BF54-40BB-A169-E20B16357D45" KeyPath="yes">
			<File Id="fileFrontendDLL" Source="$(var.SOURCEDIR)/micro-profiler_frontend.dll" Vital="yes" />
			<AppId Id="5772E3BD-4C40-450C-8F79-A5052A3CC346" DllSurrogate="" Description="MicroProfiler Frontend Application">
				<Class Id="0ED7654C-DE8A-4964-9661-0B0C391BE15E" Description="MicroProfiler Frontend Class" Context="InprocServer32" ThreadingModel="apartment" ForeignServer="[#fileFrontendDLL]" Version="1.0"/>
			</AppId>
		</Component>

		<Component Id="compVSPackage" Directory="TARGETDIR" Guid="57A2000C-A414-4F8F-A3A3-92DA925C6D11" KeyPath="yes">
			<File Id="fileVSPackage" Source="$(var.SOURCEDIRX86)/micro-profiler_frontend.dll" Name="micro-profiler_vspackage.dll" Vital="yes" />
		</Component>

		<?if $(var.Platform) = "x64"?>
			<Component Id="compCollectorDLL_x64" Guid="47674731-7CDF-4D96-ABE6-BC85BCA68161" KeyPath="yes" Directory="TARGETDIR" Win64="yes">
				<File Id="fileCollectorDLL_x64" Source="$(var.SOURCEDIR)/micro-profiler_x64.dll" Vital="yes" />
				<File Id="fileCollectorStubDLL_x64" Source="$(var.SOURCEDIR)/micro-profiler_x64.stub.dll" Vital="yes" />
			</Component>
		<?endif?>

		<Component Id="compCollectorDLL_x86" Guid="4EC2E786-D232-4EDF-940E-EC18DFFFADBB" KeyPath="yes" Directory="TARGETDIR" Win64="no">
			<File Id="fileCollectorDLL_x86" Source="$(var.SOURCEDIRX86)/micro-profiler_x86.dll" Vital="yes" />
			<File Id="fileCollectorStubDLL_x86" Source="$(var.SOURCEDIRX86)/micro-profiler_x86.stub.dll" Vital="yes" />
		</Component>

		<?define VSVERSION="7.1"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<?define VSVERSION="8.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<?define VSVERSION="9.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<?define VSVERSION="10.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>
		
		<?define VSVERSION="11.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<?define VSVERSION="12.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<?define VSVERSION="14.0"?>
		<?include vspackage.wxi?>
		<?undef VSVERSION ?>

		<!-- UI -->
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
		<UIRef Id="WixUI_InstallDir" />
		<UI>
			<ProgressText Action="caSetupPackagesVS2003">Configuring Visual Studio .NET 2003... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2005">Configuring Visual Studio 2005... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2008">Configuring Visual Studio 2008... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2010">Configuring Visual Studio 2010... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2012">Configuring Visual Studio 2012... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2013">Configuring Visual Studio 2013... (this may take a few minutes)</ProgressText>
			<ProgressText Action="caSetupPackagesVS2014">Configuring Visual Studio 2015... (this may take a few minutes)</ProgressText>
		</UI>
		
	</Product>
</Wix>
